$navbar-font-color: #fcd307 !important;
$app-color: white;
$font-color: #fff;

@mixin hover-text-prop($color) {
  color: $color;
  transition-property: $color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

body {
  background-color: $app-color;
}

//Navbar Section
a.logo {
  font-family: "Spinnaker", sans-serif;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
}

a.textmenu {
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  font-family: "helvetica-w01-roman", "helvetica-w02-roman",
    "helvetica-lt-w10-roman", sans-serif;
  font-style: normal;
}

a.textmenu:hover {
  @include hover-text-prop($navbar-font-color);
}

a.textmenu:focus {
  color: $navbar-font-color;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  border: none;
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-item:hover {
  background-color: #fff;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

// Banner Section
div.banner {
  overflow: hidden;
  height: 600px;

  & img {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
  }

  & .container {
    display: flex;
  }

  & .text1,
  .text2,
  .text3 {
    position: absolute;
    color: black;
    text-align: left;
  }

  & div.text1 {
    top: 5%;
    left: 25%;
  }

  & div.text2 {
    top: 14%;
    left: 25%;
  }

  & div.text3 {
    top: 17%;
    left: 25%;
  }
}

//Selection section
div.selection {
  background-color: grey;
  height: 500px;

  & .header {
    width: 55%;
    height: 160px;
    padding-top: 10px;
  }

  & span > p {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }

  & .pics {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    & img {
      transform: scale(1);
      background-color: #fff;
    }

    & a {
      flex: 0 19%;
      text-decoration: underline;
      color: white;
    }
  }
}

//Tagline section
.tagline {
  background-color: white;
  height: 1000px;
  & .container {
    display: flex;
    flex-direction: column;
  }

  & .header {
    font-size: 60px;
    font-weight: 500;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  & .text {
    font-size: 40px;
  }
}

//contact section
.contact {
  background-color: black;
  height: 600px;

  & > .container {
    display: flex;
    flex-direction: column;
  }

  & .header {
    color: white;
    padding-top: 150px;
  }

  & .body {
    padding-top: 20px;
  }

  & .site {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  & a {
    font-size: 25px;
    padding-left: 10px;
    text-decoration: underline;
    color: white;
  }

  & .icons {
    width: 60px;
  }

  & i {
    font-size: 3em;
  }
}

//Footer Section
.footer {
  height: 60px;
  & > .container {
    display: flex;
    flex-direction: row;
  }

  & .text > button,
  & .text > button:hover {
    text-decoration: underline;
    padding-top: 10px;
    color: black;
  }

  & .text {
    flex: 1;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }

  & .icon {
    display: flex;
    flex-direction: row;
  }
}

//Head Banner Section
.head_banner {
  background-color: black;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .container {
    width: 50%;
    padding-left: 10px;
  }

  & #text_1 {
    font-family: serif;
    font-size: 50px;
  }
}

//Card Section
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .cardContents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;

    & .card {
      padding: 50px 50px 50px 50px;
      border: none;
    }

    & .card-img-top {
      height: auto;
      width: 100px;
    }
  }
}

//Education Section
.eduContainer {
  display: flex;
  flex-direction: row;
  & .sideBar {
    height: auto;
    width: 100vh;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  & .article {
    margin-left: 50px;
    height: 750px;
    overflow-y: auto;
  }

  & ul {
    margin-top: 10px;

    list-style-type: none;

    & li:first-child > a {
      font-weight: bold;
      color: black;
    }

    & li > a {
      font-weight: normal;
      font-stretch: normal;
      font-size: 14px;
      font-family: "helvetica-w01-roman", "helvetica-w02-roman",
        "helvetica-lt-w10-roman", sans-serif;
      font-style: normal;
      color: grey;

      &:hover {
        @include hover-text-prop(black);
        text-decoration: none;
      }
    }
  }
}
